<!DOCTYPE HTML>

<head>
    <title>Cadastro Dependente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Novo Dependente</h1><a href="/"><button>Ir para o inicio</button></a><br>
    <form action="/dependente/insere2" method="post">
        <br>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>
        <br>
        <label for="idade">Idade: </label>
        <input type="text" id="idade" name="idade"><br>
        <br>
        <label for="cliente">Cliente: </label>
        <input type="text" id="cliente" name="cliente"><br>
        <!--BOTOES-->
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar Tudo" /></p>
    </form>
    <br>
    <a href="/dependente/lista2"><button>Lista de Pessoas</button></a><a href="/dependente/filtroForm2"><button>Filtro de Pessoas</button></a>
</body>

</html>