<!DOCTYPE HTML>

<head>
    <title>Lista Dependente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Filtro de Dependente</h1>
    <form action="/dependente/filtro2" method="GET">
        <label for="idade">Idade:</label>
        <input type="text" id="idade" name="idade"><br>
        <!--BOTOES-->
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar Tudo" /></p>
    </form>
    <br>
    <a href="/dependente/"><button>Inicio</button></a>
</body>

</html>